@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #1f4037;
    --background: 174 96.75% 98.38%;
    --foreground: 174 3.5% 0.76%;

    --muted: 174 3.5% 91.9%;
    --muted-foreground: 174 1.75% 41.9%;

    --popover: 174 62% 91.9%;
    --popover-foreground: 174 3.5% 0.95%;

    --card: 174 62% 91.9%;
    --card-foreground: 174 3.5% 0.95%;

    --border: 174 8.5% 89.76%;
    --input: 174 8.5% 89.76%;

    --primary: 174 35% 19%;
    --primary-foreground: 174 0.7% 91.9%;

    --secondary: 174 1.75% 95.95%;
    --secondary-foreground: 174 3.0999999999999996% 11.9%;

    --accent: 174 1.75% 95.95%;
    --accent-foreground: 174 3.0999999999999996% 11.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 174 35% 19%;

    --radius: 0.5rem;

    --radius: 0.5rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --gradient: #69eacb;

    --background: 176 48.75% 5.36%;
    --foreground: 176 7.5% 98.35%;

    --muted: 176 37.5% 20.1%;
    --muted-foreground: 176 7.5% 56.7%;

    --popover: 176 50% 8.71%;
    --popover-foreground: 176 7.5% 98.35%;

    --card: 176 50% 8.71%;
    --card-foreground: 176 7.5% 98.35%;

    --border: 176 37.5% 20.1%;
    --input: 176 37.5% 20.1%;

    --primary: 176 75% 67%;
    --primary-foreground: 176 7.5% 6.7%;

    --secondary: 176 37.5% 20.1%;
    --secondary-foreground: 176 7.5% 98.35%;

    --accent: 176 37.5% 20.1%;
    --accent-foreground: 176 7.5% 98.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 176 7.5% 98.35%;

    --ring: 176 75% 67%;

    --chart-1: 190 74% 59%;
    --chart-2: 201 100% 36%;
    --chart-3: 195 100% 39%;
    --chart-4: 190 77% 88%;
    --chart-5: 190 100% 42%;

    --success: 173 58% 39%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-["yekanbakh","woffyekanbakh"];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    @apply font-["iransans"];
  }

  /* yekanbakh woff old browsers*/
  @font-face {
    font-family: 'woffyekanbakh';
    src: url('../../../public/fonts/yekanbakh/woff/YekanBakh-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'woffyekanbakh';
    src: url('../../../public/fonts/yekanbakh/woff/YekanBakh-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'woffyekanbakh';
    src: url('../../../public/fonts/yekanbakh/woff/YekanBakh-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'woffyekanbakh';
    src: url('../../../public/fonts/yekanbakh/woff/YekanBakh-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  /* iransans*/
  @font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/fonts/IranSans/IRANSansXFaNum-Regular.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 500;
    src: url('../../../public/fonts/IranSans/IRANSansXFaNum-Medium.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 600;
    src: url('../../../public/fonts/IranSans/IRANSansXFaNum-DemiBold.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 700;
    src: url('../../../public/fonts/IranSans/IRANSansXFaNum-Bold.woff') format('woff');
    font-display: swap;
  }
}
